{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<main>
    <div class="container">
        <section class="mt-4 mb-4">

            <h1>{% trans "Change Password" %}</h1>

            <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                {% csrf_token %}
                {{ form|crispy }}

                <!-- Submit button -->
                <button name="action" type="submit" class="btn btn-info">{% trans "Change Password" %}</button>
            </form>

        </section>
    </div>
</main>
{% endblock %}