{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Appointment Booking" %}{% endblock %}

{% block content %}
<main>
    <div class="container">

        <section class="mt-4 mb-4">
            <form method="post">
                {% csrf_token %}
                <legend class="border-bottom mb-4">Appointment Booking</legend>
                {{ form|crispy }}
                <button type="submit" class="btn btn-info">{% trans "Checkout" %}</button>
            </form>
        </section>

    </div>
</main>
{% endblock %}