{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row mt-4 mb-4">
        {% for lawyerprofile in lawyerprofiles %}

        <!-- col-md will form columns when the screen size >= medium -->
        <div class="col-lg-3 col-md-4 col-sm-6">
            <section>
                <!-- Card -->
                <div class="card text-center">

                    <a href="{% url 'core:appointment' lawyerprofile.user.id %}" class="btn">
                        <!-- Avatar -->
                        <div class="avatar mx-auto white mt-4">
                            <img src="{{ lawyerprofile.user.pro_pic.url }}" class="rounded-circle img-fluid" alt="Profile Avatar">
                        </div>


                        <!-- Content -->
                        <div class="card-body">
                            <!-- Name -->
                            <h4 class="card-title">
                                {{ lawyerprofile.user.get_full_name }}
                                <!-- Veification icon -->
                                {% if lawyerprofile.is_verified %}
                                <i class="far fa-check-circle text-success"></i></i>
                                {% endif %}
                            </h4>
                            <hr>
                            <span class="badge badge-info">
                                <i class="fas fa-city"></i>
                                {{ lawyerprofile.user.address.city }}
                            </span>
                            <span class="badge badge-danger">
                                <i class="fas fa-user-clock"></i>
                                {{ lawyerprofile.experience }} Years
                            </span>
                            <span class="badge badge-warning">&euro;{{ lawyerprofile.fee }}</span>
                            <span class="badge badge-secondary">
                                <i class="far fa-clock"></i>
                                {{ lawyerprofile.time_start }}&nbsp;&minus;&nbsp;{{ lawyerprofile.time_end }}
                            </span>
                            <p>
                                <!-- Generally the many-to-many field is not iterable.
                                    Make it iterable by added .all at the end. -->
                                {% for category in user.lawyerprofile.categories.all %}
                                <span class="badge badge-success">{{ category.name }}</span>
                                {% endfor %}
                            </p>
                        </div>
                    </a>

                </div>
                <!-- Card -->
            </section>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock content %}